Repository MyatThuKo/CSc456-FlashCardApp-Final-Project, pull requests merged in 2023-04, with the labels that each got.

#3 Initial Backend Functionalities w/ Tests
  backend/README.md
  backend/functions/index.js
  backend/functions/src/controllers/flashcard.js
  backend/functions/src/controllers/user.js
  backend/functions/src/utils.js
  backend/functions/tests/README.md
  backend/functions/tests/flashcard.test.js
  backend/functions/tests/user.test.js
  backend/functions/tests/utils.test.js
Labels: new feature, backend

#4 MTKo | Initial commit of the Xcode project
  StudySwift/StudySwift.xcodeproj/project.pbxproj
  StudySwift/StudySwift.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  StudySwift/StudySwift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  StudySwift/StudySwift/Assets.xcassets/AccentColor.colorset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/Contents.json
  StudySwift/StudySwift/ContentView.swift
  StudySwift/StudySwift/Preview Content/Preview Assets.xcassets/Contents.json
  StudySwift/StudySwift/StudySwift.entitlements
  StudySwift/StudySwift/StudySwiftApp.swift
  StudySwift/StudySwiftTests/StudySwiftTests.swift
  StudySwift/StudySwiftUITests/StudySwiftUITests.swift
  StudySwift/StudySwiftUITests/StudySwiftUITestsLaunchTests.swift
Labels: new feature, iOS

#11 iOS | Add image assets, app icon, and color sets
  .gitignore
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/100.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/1024.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/114.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/120.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/128.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/144.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/152.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/16.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/167.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/172.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/180.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/196.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/20.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/216.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/256.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/29.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/32.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/40.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/48.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/50.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/512.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/55.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/57.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/58.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/60.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/64.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/66.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/72.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/76.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/80.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/87.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/88.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/92.png
  StudySwift/StudySwift/Assets.xcassets/AppIcon.appiconset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/colors/Contents.json
  StudySwift/StudySwift/Assets.xcassets/colors/buttonColor.colorset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/colors/flashcardColor.colorset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/colors/inAppBGColor.colorset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/colors/mainBGColor.colorset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/logos/Contents.json
  StudySwift/StudySwift/Assets.xcassets/logos/loginLogo.imageset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/logos/loginLogo.imageset/loginLogo.png
  StudySwift/StudySwift/Assets.xcassets/logos/loginLogo.imageset/loginLogo@2x.png
  StudySwift/StudySwift/Assets.xcassets/logos/loginLogo.imageset/loginLogo@3x.png
  StudySwift/StudySwift/Assets.xcassets/logos/mainLogo.imageset/Contents.json
  StudySwift/StudySwift/Assets.xcassets/logos/mainLogo.imageset/mainLogo.png
  StudySwift/StudySwift/Assets.xcassets/logos/mainLogo.imageset/mainLogo@2x.png
  StudySwift/StudySwift/Assets.xcassets/logos/mainLogo.imageset/mainLogo@3x.png
Labels: new feature, iOS

#13 add delete functionality w/ tests
  backend/functions/index.js
  backend/functions/src/controllers/flashcard.js
  backend/functions/tests/flashcard.test.js
Labels: new feature, backend

#15 Push delete function to main
  backend/functions/index.js
  backend/functions/src/controllers/flashcard.js
  backend/functions/tests/flashcard.test.js
Labels: backend

#16 Backend Testing Updates
  backend/functions/package.json
  backend/functions/tests/flashcard.test.js
  backend/functions/tests/user.test.js
Labels: backend, refactoring

#17 Mtko | Signup, Login, Reset password screens
  StudySwift/StudySwift.xcodeproj/project.pbxproj
  StudySwift/StudySwift/Assets.xcassets/colors/buttonColor.colorset/Contents 2.json
  StudySwift/StudySwift/Assets.xcassets/colors/flashcardColor.colorset/Contents 2.json
  StudySwift/StudySwift/Assets.xcassets/colors/inAppBGColor.colorset/Contents 2.json
  StudySwift/StudySwift/Assets.xcassets/colors/mainBGColor.colorset/Contents 2.json
  StudySwift/StudySwift/Assets.xcassets/logos/loginLogo.imageset/Contents 2.json
  StudySwift/StudySwift/Assets.xcassets/logos/mainLogo.imageset/Contents 2.json
  StudySwift/StudySwift/StudySwiftApp.swift
  StudySwift/StudySwift/UserAuthorization/Login Screen/LoginScreenView.swift
  StudySwift/StudySwift/UserAuthorization/Login Screen/LoginScreenViewModel.swift
  StudySwift/StudySwift/UserAuthorization/Reset Password Screen/ResetPasswordScreenView.swift
  StudySwift/StudySwift/UserAuthorization/Reset Password Screen/ResetPasswordScreenViewModel.swift
  StudySwift/StudySwift/UserAuthorization/Signup Screen/SignupScreenView.swift
  StudySwift/StudySwift/UserAuthorization/Signup Screen/SignupScreenViewModel.swift
Labels: new feature, iOS
