Repository MyatThuKo/CSc456-FlashCardApp-Final-Project, pull requests merged in 2023-05, with the labels that each got.

#21 Updated Firebase Rules
  backend/firestore.rules
Labels: backend

#19 Mtko | Add Landing, Home and Profile screens
  StudySwift/StudySwift.xcodeproj/project.pbxproj
  StudySwift/StudySwift/Customized Views/RoundedButtonView.swift
  StudySwift/StudySwift/Landing Screen/Home Screen/HomeScreenView.swift
  StudySwift/StudySwift/Landing Screen/Home Screen/HomeScreenViewModel.swift
  StudySwift/StudySwift/Landing Screen/LandingScreenView.swift
  StudySwift/StudySwift/Landing Screen/LandingScreenViewModel.swift
  StudySwift/StudySwift/Landing Screen/Profile Screen/ProfileScreenView.swift
  StudySwift/StudySwift/Landing Screen/Profile Screen/ProfileScreenViewModel.swift
  StudySwift/StudySwift/UserAuthorization/Login Screen/LoginScreenView.swift
  StudySwift/StudySwift/UserAuthorization/Reset Password Screen/ResetPasswordScreenView.swift
  StudySwift/StudySwift/UserAuthorization/Signup Screen/SignupScreenView.swift
Labels: new feature, iOS

#23 Add Flashcard and its related screens
  StudySwift/StudySwift.xcodeproj/project.pbxproj
  StudySwift/StudySwift/Customized Views/FlashcardCardView.swift
  StudySwift/StudySwift/Landing Screen/AddFlashcardScreen/AddFlashcardScreenView.swift
  StudySwift/StudySwift/Landing Screen/AddFlashcardScreen/AddFlashcardViewModel.swift
  StudySwift/StudySwift/Landing Screen/Flashcard Screen/FlashcardScreenView.swift
  StudySwift/StudySwift/Landing Screen/Flashcard Screen/FlashcardScreenViewModel.swift
  StudySwift/StudySwift/Landing Screen/Home Screen/HomeScreenView.swift
Labels: new feature, iOS

#24 Connected Hardcoded Flashcards with Backend
  StudySwift/StudySwift/Data Models/DataStoreModel.swift
  StudySwift/StudySwift/Landing Screen/AddFlashcardScreen/AddFlashcardScreenView.swift
  StudySwift/StudySwift/Landing Screen/Flashcard Screen/FlashcardScreenViewModel.swift
  StudySwift/StudySwift/Landing Screen/Home Screen/HomeScreenView.swift
  backend/firestore.rules
  backend/functions/index.js
  backend/functions/src/controllers/flashcard.js
Labels: iOS, backend
